@import '../../styles/partials/typography';
@import '../../styles/partials/mixins.scss';
@import '../../styles/partials/variables.scss';

.add-task {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-right: 40px;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  h2 {
    font-size: 24px;
    margin-bottom: 20px;
    display: flex;
    width: 85%;
  }

  &__user-form {
    display: flex;
    flex-direction: row;
  }

  form {
    display: flex;
    flex-direction: column;

    .left-column {
      flex: 1;
      padding-right: 20px;

      .input-group {
        margin-bottom: 20px;

        label {
          display: block;
          font-weight: bold;
          margin-bottom: 5px;
        }

        input[type="text"],
        textarea {
          width: 100%;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 5px;
          font-size: 16px;
        }

        textarea {
          min-height: 100px;
          resize: vertical;
        }

        .error-message {
          color: #f00;
          font-size: 14px;
          margin-top: 5px;
        }
      }
    }

    .right-column {
      flex: 1;
      padding-left: 20px;

      .input-group {
        margin-bottom: 20px;

        label {
          display: block;
          font-weight: bold;
          margin-bottom: 5px;
        }

        input[type="date"],
        input[type="number"],
        textarea {
          width: 100%;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 5px;
          font-size: 16px;
        }

        textarea {
          min-height: 100px;
          resize: vertical;
        }

        .error-message {
          color: #f00;
          font-size: 14px;
          margin-top: 5px;
        }
      }

      .input-group-row {
        display: flex;
        flex-direction: row;

        .input-group-left {
          flex: 1;
          padding-right: 10px;
        }

        .input-group-right {
          flex: 1;
          padding-left: 10px;
        }
      }
    }
  }

  .button-group {
    text-align: center;
    display: flex;


  }

  &-button {
    padding: 10px 20px;
    background-color: #158463;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }
  }
}