@import '../../styles/partials/typography';
@import '../../styles/partials/mixins.scss';
@import '../../styles/partials/variables.scss';

.main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding: 2rem;
height: fit-content;

    button {
        font-weight: '600';
        font-size: 0.813rem;
        line-height: 1rem;
    }

    a {
        text-decoration: none;
        color: white;
        font-weight: '600';
        font-size: 0.813rem;
        line-height: 1rem;
    }

    .user-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30vh;
    }

    .user-icon {
        max-height: 100%;
        max-width: 100%;
    }

    .user-name {
        display: flex;

    }

    .button-row {
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin-top: 2rem;
    }


    .page-button {
        display: flex;
        justify-content: center;
        width: 80px;
        padding: 1rem;
        font-size: 1rem;
        background-color: $primary-color-2;
        color: $primary-color-3;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
        border-radius: 10px;

        &:hover {
            background-color: darken($primary-color-2, 10%);
        }
    }

    .report-button {
        display: flex;
        width: fit-content;
        justify-content: center;
        padding: 1rem;
        font-size: 1rem;
        background-color: $secondary-color-1;
        color: $primary-color-3;
        border: none;
        margin-top: 3rem;
        cursor: pointer;
        transition: background-color 0.3s ease;
        border-radius: 10px;

        &:hover {
            background-color: darken($secondary-color-1, 10%);
        }
    }

    .additional-buttons {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 2rem;
        color: $primary-color-3;


    }

    .additional-section {
        display: flex;
        width: 80vw;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;

        .project-dropdown {
            display: flex;
            justify-content: flex-end;
            margin-top: 2rem;
            width: 100%;
            margin-bottom: 1rem;

            .dropdown-select {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    .error-message {
        color: red;
        font-size: 0.8rem;
        margin-top: 0.5rem;
        animation: fadeOut 3s forwards;
    }

    @keyframes fadeOut {
        0% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }
}