$primary-color-1: #13182C;
$primary-color-2: #2E66E5;
$primary-color-3: #FFFFFF;

$secondary-color-1: #5C667E;
$secondary-color-2: #BDC5D5;

$background-color-1: #FCC352;
$background-color-2: #FFFCCE;

$supporting-color-1: #158463;
$supporting-color-2: #C94515;

$border-color: #000000; 
