@import './styles/partials/typography';
@import './styles/partials/variables.scss';



body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  background-color: $background-color-2;
  height: 100vh;
  margin: 0;
}
